/eclipse-workspace/myProject
/eclipse-workspace/helloWorld
/eclipse-workspace/chapterOneBasicOutput
/eclipse-workspace/chapterTwoLabs
/eclipse-workspace/chapterThreeWork
/eclipse-workspace/ChapterFourWork
/pseudocode/petCheckInOld.md
/flowcharts
